---
const platform = "github";
const username = "withastro";
---
<style>
footer {
    background-color: #e4f2fe;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
}
</style>
<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>